{% extends "users/base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title>Physical activity</title>
{% endblock  %}
<div class="container p-5 my-3 border">

    <legend class="border-bottom mb-4">My exercises</legend>
    {% if user.is_authenticated %}
    <a class="btn btn-outline-success" href="{% url 'exercise_create' %}">New exercise</a>
    {% endif %}

 <hr>

    <form class="add_your_class" method="GET" action="" >
      <input type="search" name="search" class="form-control" placeholder="Search" > 
      <br>
      <button class="btn btn-info" type="submit"> Search </button>
  </form>
   

  <hr>
    <ul class="list-group">
      {% for exercise in exercises %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{exercise}}
        <a class="btn btn-outline-info" href="{% url 'exercise_detail'  exercise.id %}">View details</a>
      </li>
      {% empty %}
      <li>No exercises.</li>
      {% endfor %}
    </ul>

    <hr>

    {% if is_paginated %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
        </li>
        {% endif %}
        {% for  page_obj in page_obj.paginator %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% endif %}
      </ul>

      {% endif %}
    </nav>
</div>


{% endblock %}

