{% extends "users/base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title>Recipes</title>
{% endblock  %}
<div class="container p-5 my-3 border">

    <legend class="border-bottom mb-4">My recipes</legend>
    {% if user.is_authenticated %}
    <a class="btn btn-outline-success" href="{% url 'recipe_create' %}">New recipe</a>
    <a class="btn btn-outline-success" href="{% url 'ingredient_create' %}">New ingredient</a>
    {% endif %}

 <hr>

    <form class="add_your_class" method="GET" action="" >
      <input type="search" name="search" class="form-control" placeholder="Search" > 
      <br>
      <button class="btn btn-info" type="submit"> Search </button>
  </form>
   

  <hr>
    <ul class="list-group">
      {% for recipe in recipes %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{recipe}}
        <div class="row">
        <a class="btn btn-outline-info float-right" href="{% url 'recipe_update'  recipe.id %}" style="margin-right:8px">Edit</a>
        <form action="{% url 'recipe_delete' recipe.id %}" method="POST">
          {% csrf_token %}
          <input class="btn btn-default btn-danger" type="submit" value="Delete"/>
        </form>
        <a id="recipe_details-{{ recipe.id }}" class="btn btn-outline-info float-right" style="margin-left:8px">View details</a>
      </div>
      </li>
      <div id="show_details-{{ recipe.id }}" class="container p-5 my-3 border"  style="display: none;">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">Description: {{recipe.recipe_description}}</li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Calories: {{recipe.calories}}</li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Nutrients: {{recipe.nutrients}}</li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Preparation Time: {{recipe.prep_time}}</li>
            {% if recipe.ingredient_recipe %}
                <br>
                <p class="h6">Ingredients:</p>
                <ul class="list-group">
                    {% for ingredient in recipe.ingredient_recipe.all %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">{{ingredient.ingredient_name}}: [Calories: {{ingredient.ingredient_calories}}, Nutrients: {{ingredient.ingredient_nutrients}}]</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </ul>
        </div>
      {% empty %}
      <li>No recipes.</li>
      {% endfor %}
    </ul>

    <hr>

    {% if is_paginated %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
        </li>
        {% endif %}
        {% for  page_obj in page_obj.paginator %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% endif %}
      </ul>

      {% endif %}
    </nav>
</div>


{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(
    function(){
        $('[id^="recipe_details"]').on('click', function() {
            $("#show_details-" + this.id.split("-")[1]).toggle();
        });
    });
</script>
{% endblock %}
{% endblock %}
